body {
    margin: 0;
    background-color: rgb(4, 0, 22);
}

#container {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock {
    position: relative;
    width: 350px;
    height: 350px;
    background: #041024;
    border-radius: 50%;
    box-shadow: 0 5px 50px 5px rgba(0, 0, 0, 0.9);
    display: grid;
    place-content: center;

}

#clock::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 51%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
}

.line {
    position: absolute;
    transform-origin: 50% 100%;
}

.minute {
    width: 5px;
    height: 125px;
    top: 52px;
    left: calc(50% - 2.5px);
    border-radius: 50%;
    background: deepskyblue;
}

.second {
    width: 3px;
    height: 125px;
    top: 52px;
    left: calc(50% - 1px);
    background: #fff;
    border-radius: 50%;
}

.hour {
    width: 5px;
    height: 87.5px;
    top: 90.5px;
    left: calc(50% - 2.5px);
    background: deepskyblue;
    border-radius: 50%;
}

.numbers {
    /* position: absolute; */
    list-style: none;
    padding: 0;
    margin: 0;
    /* width: 100%; */
    /* height: 100%; */
    text-align: center;
    /* inset: 6px; */
}

.numbers li {
    position: absolute;
    inset: 6px;
    /* transform: rotate(-30deg) ; */

}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    text-align: center;
    /* line-height: 20px;  */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: 800;
}

/* Definiranje CSS varijablama za rotaciju */
:root {
    --rotation-degree: calc(360deg / 12);
}