body {
    margin:0 ;
    background-color: rgb(4, 0, 22);
}
#container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock {
    position: relative;
    width: 350px;
    height: 350px;
    background: #041024;
    border-radius: 50%;
    box-shadow: 0 5px 50px 5px rgba(0, 0, 0, 0.9);
}

#clock::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
}
.line {
    position: absolute;
    transform-origin: 50% 100%;
}
.minute {
    width: 5px;
    height: 125px;
    top: 62px;
    left: calc(50% - 2.5px);
    border-radius: 50%;
    background: deepskyblue;
}

.second {
    width: 2px;
    height: 125px;
    top: 61px;
    left: calc(50% - 1px);
    background: #fff;
    border-radius: 50%;
}

.hour {
    width: 5px;
    height: 87.5px;
    top: 100.5px;
    left: calc(50% - 2.5px);
    background: deepskyblue;
    border-radius: 50%;
}


.numbers {
    list-style: none;
}

.numbers li {
    position: absolute;
    color: #EEE;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    /* inset: 12; */
}

 .numbers li:nth-child(1) {
    top: 15px;
    right: 160px;
    /* inset: 9px; */
    /* color:red; */
    /* display: inline-block; */
    /* justify-content: center; */
    /* align-items: center; */
    /* position: absolute;
    text-align: center; */
}

.numbers li:nth-child(2) {
    top: 170px;
    right: 15px;
}
.numbers li:nth-child(3) {
    left: 170px;
     /* bottom: 15px; */
   top: 310px;
}
.numbers li:nth-child(4) {
    top: 170px;
    left: 15px;
} 